
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@600&family=Montserrat&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@600&family=Space+Mono&display=swap');
body {
    background-color:#f2d1eb56;
    color:rgb(1, 6, 12);
    font-family: Georgia, 'Times New Roman', Times, serif
}
.logo {
    font-family: Georgia, 'Times New Roman', Times, serif
    cursor: pointer;
    font-size: 30px;

}

.logo:hover{
    transition:all 0.3s ease 0s;
   background-color: rgba(161, 19, 161, 0.9);
}

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
    overflow-x: hidden;
}

li, a, button {
    font-weight: 550;
    font-size: 16px;
    text-decoration: none;
    color:rgb(40, 4, 65);
    font-size: 20px;

}

.header-content {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgba(197, 181, 243, 0.279);
    border-radius: 55px;
    border: solid rgb(190, 174, 238);
    margin-top: 10px

}


.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover{
    background-color: rgba(161, 19, 161, 0.9);
    text-decoration: underline;
}

button {
    padding: 9px 25px;
    background-color:rgba(249, 215, 249, 0.9);
    border:solid #f58af598;
    border-radius: 50px;
    font-family: 'Times New Roman', Times, serif;
    cursor:pointer;
    transition:all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(161, 19, 161, 0.9);
}

.welcome h1 {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    text-align: center;
    font-family: Georgia;
    font-size: 8.5rem;
    font-weight: 1rem;
    color: transparent;
    background: 
    url(https://media.giphy.com/media/bw14WlhKyivks/giphy.gif) no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
}
#intro {
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
    margin-left: 20px; 
    margin-right: 20px;
    font-style:italic;
    margin-bottom: 32px;
}

.about .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
}

.about .row .introduction {
    padding-top: 5rem;
    padding-left: 5rem;
    font-size: 1.2rem;
    max-width: 45ch;
    padding-bottom: none;
}

.about .row img {
    display: flex;
    width: 100%;
    height: auto;
    padding-right: 5rem;
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.about p {
    line-height: 40px;
    margin-top: 20px;
}

.about h1 {
    text-align: center;

}
.workrow {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 5rem;
    padding-bottom: none;
    padding-left: 5rem;
    font-size: 1.2rem;
    max-width: 100%;
    
}

.workrow h2 {
    align-items: center
}

.work .placeholders {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    color:  rgb(40, 4, 65);
    justify-items: center;
    width: 100%;
    background-color: rgba(197, 181, 243, 0.279);
    border-radius: 15px;
    border: solid rgb(190, 174, 238);
}

.work .placeholders img {
    width: 50%;
    padding-top: 1rem;
    padding-bottom: none;
    margin-bottom: none;
    margin-left: none;
    position: relative;
}

.project {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}



.github:hover {
    background-color: rgba(161, 19, 161, 0.299);
}

.placeholders h4 {
 font-size: 25px;
}

.profiles {
    text-align: center;
    color:rgb(12, 11, 12); 
   
}


.connect {
    margin-bottom: 20px;
}
.connectlinks li {
    display: inline-block
}

.connectlinks li:hover {
    background-color: rgba(161, 19, 161, 0.5);
    text-decoration: underline;
}

h1, h2, h3, h4 {
    color: transparent;
    background: url(https://media.giphy.com/media/bw14WlhKyivks/giphy.gif) no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
}

#contact {
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
}

.contactform input[type="text"],
.contactform input[type="email"],
.contactform textarea {
    background-color: #f7bdebb0;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
}

.sendbutton {
    padding: 9px 25px;
    background-color:rgba(249, 215, 249, 0.9);
    border:solid #f58af598;
    border-radius: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

.sendbutton:hover {
    background-color: rgba(161, 19, 161, 0.9);
    text-decoration: underline;
}

footer {
    text-align: center;
    padding-bottom: 30px;
}
.invitation .name {
    font-size: 30px
}

